/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  

@import 'bulma';
// @media screen and (min-width: 350px) and (max-width: 899px){

// }
// @media screen and (min-width: 900px){

   
   

  

     #content{     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         padding-top: 60px;
         
        }

figure.is-128x128 img {
    width: auto;
    height: 128px;
} 

    body {
        min-height: 100vh;

        background: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Stripe_yellow-yellow_detail.JPG?v=1503361203");
        background-size: cover;
     
    }

      footer {
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: black;
  text-align: center; 
  
  padding: 3rem 1.5rem 3rem;
  .note {
    float: left;
}
}

      
    .navbar{
        background: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        // background:#00d1b277;
        // background: black;
        // border: 1px solid black;
        

    }
// .navbarstart,.navbar-end{
//         background-color: rgb(185, 148, 219);
// }
.navbar-menu {
    display: flex;

    align-items: center;
    .subtitle{
    margin: 0;
    padding: 0;

    
    }
    a{
        margin: 0.5rem;
    }
}


// }
// *{
//     padding: 0;
//     margin: 0;
// }
// body {
//     display: flex;
//     flex-direction: column;
//     // overflow: none;
//     .container{
//         padding: 0;
//         margin: 0;
//     }
// }
// .navbar{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     height: 50px;
//     background-color: rgb(234, 182, 255);
//     a{
//         display: block;
//         height: 25px;
//         padding: 3px 0px;
//         width: auto;
//         // background-color: rgba(255,255,255,.07);
//         color: black;
//         text-align: center;
//         // border: 1px ridge black;
//         box-shadow: 5 5 10 white;
//         border-radius: 25px;
        
        

//         &::focus{
//             background: white;
//             color: black;
//         }

//     }
// }


// button {
//     background-color: inherit;
// }
